// theme colors
$bg-color: #141312;
$primary-color: #d3c8be;
$secondary-color: #b0a09d;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box shadow

// font sizes
$font-s: 0.75em;
$font-m: 1em;
$font-l: 1.5em;

//paddings
$padding-s: 0.25em;
$padding-m: 0.5em;
$padding-l: 1em;

// container size
$container-size: min(90%, 1000px);
