@import 'base';
@import 'variables';
@import 'colors';
@import 'mobile';

// Import pages styling
@import 'practice';

// Mixins (functions)
@mixin flex-system($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

body {
  @include flex-system(column, space-between, '', 0);
  background-color: $primary-color;
  position: relative;
  height: 100vh;
}

header {
  padding: $padding-m;
  margin-bottom: 1.5em;
  background-color: $bg-color;
  color: white;

  ul {
    @include flex-system(row, none, center, 1em);
    li {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

footer {
  margin-top: 1.5em;
  text-align: center;
  color: white;
  background-color: $bg-color;
  padding: $padding-m 0;
}

.container {
  @include flex-system(row, space-between, '', 0);
  width: $container-size;
  margin: 0 auto;
}

main {
  @include flex-system(column, center, center, 20px);
  margin: 0 auto;
  position: relative;
  height: 500px;
  width: $container-size;
}

.entry {
  @include flex-system(column, '', center, '');
  width: 100%;

  #input-box {
    outline: none;
    border: 1px solid white;
    border-radius: $base-border-radius;
    padding: $padding-s $padding-l;
    height: 30px;
    width: min(75%, 500px);
    font-size: $font-m;

    &.error {
      border: 1px solid red;
    }
  }

  .error-msg {
    font-size: $font-s;
    color: red;
  }
}

#output {
  @include flex-system(column, '', center, 0);
  border: $base-border-thickness;
  height: 150px;
  width: 100%;

  #output-box {
    background-color: white;
    color: black;
    outline: none;
    resize: none;
    height: 200px;
    width: min(75%, 500px);
    margin-bottom: 0.75em;
    font-size: $font-l;
  }

  .copy {
    padding: 10px 20px;
    border-radius: $base-border-radius;
    outline: 0;
    border: 1px;

    &:hover {
      background-color: darken($color: #a5a5a5, $amount: 0);
    }
  }

  .tooltip {
    position: relative;
    display: inline;

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    .tooltiptext {
      visibility: hidden;
      width: 140px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -75px;
      opacity: 0;
      transition: opacity 0.3s;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
    }
  }
}
