@import 'base';
@import 'variables';
@import 'colors';

@mixin flex-system($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

body {
  @include flex-system(column, space-between, '', 0);
  background-color: $primary-color;
  position: relative;
  height: 100vh;
}

header {
  padding: $padding-m;
  background-color: $bg-color;
  color: white;

  ul {
    @include flex-system(row, none, center, 1em);
    li {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

footer {
  text-align: center;
  color: white;
  background-color: $bg-color;
  padding: $padding-m 0;
}

.container {
  @include flex-system(row, space-between, '', 0);
  width: $container-size;
  margin: 0 auto;
}

main {
  @include flex-system(column, center, center, 20px);
  margin: 0 auto;
  position: relative;
  height: 500px;
  width: $container-size;
}

.entry {
  @include flex-system(column, '', center, '');
  width: 100%;

  input {
    outline: none;
    border: 1px;
    border-radius: $base-border-radius;
    padding: 0 $padding-l;
    height: 30px;
    width: 50%;

    &.error {
      border: 1px solid red;
    }
  }

  .error-msg {
    font-size: $font-s;
    color: red;
  }
}

#output {
  @include flex-system(column, '', center, 0);
  border: $base-border-thickness;
  height: 150px;
  width: 100%;

  textarea {
    resize: vertical;
    min-height: 30px;
    width: 50%;
  }
}
